// variables

$primary: #fba641 !default;
$success: #015df5 !default;
$danger: #f63030 !default;

$white: #fff !default;
$black: #000 !default;
$gray-100: #939393 !default;
$gray-200: #696969 !default;
$gray-300: #292929 !default;
$color-100: #89786d !default;
$color-200: #6b5e56 !default;
$color-300: #24201d !default;
$color-border: #e0e0e0 !default;

$font-weight-light: 200 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;

$font-size-xl: 36px !default;
$font-size-lg: 18px !default;
$font-size-base: 16px !default;
$font-size-sm: 14px !default;

$font-family-base: 'Noto Sans KR', sans-serif !default;
$font-color-base: #292929 !default;
$font-line-base: 1.6 !default;

$cont-bg: #fff !default;
$cont-width: 1280px !default;

// mixin
// @include clearfix;
@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}

// @include prefixer(border-radius, $radii, webkit ms spec);
@mixin prefixer($property, $value, $prefixers) {
	@each $prefix in $prefixers {
		@if $prefix == webkit {
			-webkit-#{$property}: $value;
		}
		@else if $prefix == moz {
			-moz-#{$property}: $value;
		}
		@else if $prefix == ms {
			-ms-#{$property}: $value;
		}
		@else if $prefix == o {
			-o-#{$property}: $value;
		}
		@else if $prefix == spec {
			#{$property}: $value;
		}
	}
}

// common
html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-text-size-adjust: none;
}
body,div,dl,dt,dd,ul,ol,img,span,menu,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,label,button,textarea,blockquote,th,td,p,a,article,aside,hgroup,header,footer,figure,figcaption,nav,section,time,mark,canvas,video,audio,details,summary,option {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $font-color-base;
  line-height: $font-line-base;
}

html {
  box-sizing:border-box;
}
*, *:before, *:after {
  box-sizing:inherit;
}

.loading {
	position: relative;
	width: 100%;
	min-height: 500px;

	&__bar {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		width: 120px;
		height: 120px;
		margin-top: -60px;
		margin-left: -60px;
		border: 12px solid rgba(0,0,0,0.07);
		border-top: 12px solid $color-100;
		border-radius: 50%;
		animation: spin 2s linear infinite;
	}
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.cont {
	width: $cont-width;
	margin: 0 auto;
	padding-bottom: 100px;
	text-align: center;

	&.home {
		padding-bottom: 0;
	}
}

.title {
	padding-top: 30px;
	padding-bottom: 23px;
	font-size: 56px;
	font-weight: $font-weight-bold;
	line-height: 100px;
}